.cache
.nv
.config
.DS_Store
.pnpm-store/
.venv/
node_modules/
env/
exp/*
*.o[0-9]*
*.pyc
*.egg-info
scripts/
data/
dataset_aug/
dataset_norm/
dataset_perturbed/
metric_cache
cache
wandb
*.jpg
*.png
*.ckpt
*.pth
navsim_one_scene/
nuscenes-mini/
MySubmission
*.json
*.pkl
outputs/
.agents/
.codex/
nuplan-devkit/
process_data/scenarionet/
train_metric_cache/
